<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multiwifi.connector">

    <!-- WiFi and network permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- VPN service permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
            
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
            
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/AppTheme" />
            
        <activity
            android:name=".NetworkRecommendationActivity"
            android:theme="@style/AppTheme"
            android:label="@string/network_recommendation_title" />
            
        <activity
            android:name=".NetworkVisualizerActivity"
            android:theme="@style/AppTheme"
            android:label="@string/network_visualizer_title" />
            
        <activity
            android:name=".NetworkSwitchWizardActivity"
            android:theme="@style/AppTheme"
            android:label="@string/network_switch_title" />
            
        <service
            android:name=".service.MultiWifiService"
            android:foregroundServiceType="connectedDevice"
            android:enabled="true"
            android:exported="false" />
            
        <service
            android:name=".service.MultiWifiVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
